/* rem and em do not depend on html font-size in media queries
Instead, 1rem = 1em = 16px */

/*******************************/
/* BELOW 1349px (smaller desktops) */
/*******************************/

/* 1350 / 16px = 84em */
@media (max-width: 84em) {
  .hero {
    /* 1200px */
    max-width: 120rem;
  }

  .heading-primary {
    /* sized down from 5.2rem to stay on just 3 lines */
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*******************************/
/* BELOW 1200px (landscape tablets) */
/*******************************/

/* 1200 / 16px = 75em */
@media (max-width: 75em) {
  html {
    /* Stepping down the font-size = 9px / 16px = 56.25% */
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}

/*******************************/
/* BELOW 944px (tablets) */
/*******************************/

/* 940 / 16px = 58.75 = 59 */
@media (max-width: 59em) {
  html {
    /* Stepping down the font-size = 8px / 16px = 0.5 */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    max-width: 60%;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    /* 3/5 = 60% + 2/5 = 40% */
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.2rem;
  }

  /*******************************/
  /* MOBILE */
  /*******************************/

  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgb(255, 255, 255, 0.97);
    /* !The parent element needs to be position:relative */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    /* property we want animated / length of animation / type of animation */
    transition: all 0.5s;

    /* !Hide navigation */
    /* 1. Hide it visually */
    opacity: 0;

    /* 2. Make it unaccessible to mouse & keyboard */
    pointer-events: none;

    /* 3. Hide from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/*******************************/
/* BELOW 700px (Smaller Tablets)*/
/*******************************/

/* 700 / 16px = 43.75 = 44 */
@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .diets {
    /* start at 1 and go all the way to the end */
    grid-column: 1 / -1;
    /* justify = horizontal self = individual grid item NOT container */
    justify-self: center;
  }

  .pricing-plan {
    width: 80%;
  }

  .plan-price span {
    font-size: 2.4rem;
  }

  .plan-sign-up--button {
    padding-top: 37px;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}

/*******************************/
/* BELOW 544px (mobile)*/
/*******************************/

/* 550 / 16  = 34.4 = 34 */
/* All grids will now be in one column */
@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .hero-img {
    width: 80%;
  }

  .section-hero {
    background-color: #fdf2e9;
    /* padding: top, left side, bottom, right side */
    padding: 2.4rem 0 6.4rem 0;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }
}

.logos img {
  height: 1.2rem;
}

/* The (2) has to do with the order of the child in the 
  container element...we are targeting the second child */
.step-img-box:nth-child(2) {
  grid-row: 1;
}

.step-img-box:nth-child(6) {
  grid-row: 5;
}

/* translate allows you to move elements w/o affecting the rest of 
  the elements around it */
.step-img-box {
  transform: translateY(2.4rem);
}

.testimonials {
  grid-template-columns: 1fr;
}

.gallery {
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
}

.cta {
  grid-template-columns: 1fr;
}

.cta-text-box {
  padding: 3.2rem;
}

.cta-img-box {
  height: 32rem;
  grid-row: 1;
}
